body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sketch-container {
    height: 1000px;
    width: 1000px;
    border: 1px solid black;
}

.grid-container {
    display: flex;
    flex-flow: column;
    height: 1000px;
    width: 1000px;
}

.block {
    border: 1px solid gray;
    box-sizing: border-box;
    background-color: white;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.hovering {
    background-color: #899ec4;
}

.hidden {
    display: none;
}

button {
    background-color: #c7dbff;
    margin: 25px;
    height: 75px;
    width: 200px;
    font-size: large;
}