body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch-container {
    display: flex;
    flex-flow: row wrap;
    height: 288px;
    width: 288px;
}

.block {
    border: 1px solid gray;
    width: 16px;
    height: 16px;
}

.hovering {
    background-color: #c7dbff;
}